<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/oxalis.log</File>
        <encoder>
            <pattern>%d %p [%c] [%X{senderId}] %m %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/oxalis.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="cyclic-buffer" class="ch.qos.logback.core.read.CyclicBufferAppender">
        <MaxSize>280</MaxSize>
    </appender>

    <logger name="oxalis-tes" level="debug"/>
    <logger name="oxalis-com" level="debug"/>
    <logger name="oxalis-out" level="debug"/>
    <logger name="oxalis-inb" level="debug"/>
    
    <root level="debug">
        <appender-ref ref="cyclic-buffer"/>
        <appender-ref ref="logfile"/>
    </root>
</configuration>
