# Ignore these files
*.iml
*.ipr
*.iws
.idea/
target/
.settings
.project
.classpath
/logs
/oxalis-standalone/*.dat
/*-mdn.txt
/*-rem-evidence.xml
/docker-compose.yml

rebel.xml
/data
/*/data
/conf
/inbound
/outbound