<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2010 - 2015 Norwegian Agency for Pupblic Government and eGovernment (Difi)
  ~
  ~ This file is part of Oxalis.
  ~
  ~ Licensed under the EUPL, Version 1.1 or – as soon they will be approved by the European Commission
  ~ - subsequent versions of the EUPL (the "Licence"); You may not use this work except in compliance with the Licence.
  ~
  ~ You may obtain a copy of the Licence at:
  ~
  ~ https://joinup.ec.europa.eu/software/page/eupl5
  ~
  ~  Unless required by applicable law or agreed to in writing, software distributed under the Licence
  ~  is distributed on an "AS IS" basis,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the Licence for the specific language governing permissions and limitations under the Licence.
  ~
  -->

<configuration>
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/oxalis.log</File>
        <encoder>
            <pattern>%d %p [%c] [%X{senderId}] %m %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/oxalis.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="cyclic-buffer" class="ch.qos.logback.core.read.CyclicBufferAppender">
        <MaxSize>280</MaxSize>
    </appender>

    <logger name="oxalis-tes" level="debug"/>
    <logger name="oxalis-com" level="debug"/>
    <logger name="oxalis-out" level="debug"/>
    <logger name="oxalis-inb" level="debug"/>
    
    <root level="debug">
        <appender-ref ref="cyclic-buffer"/>
        <appender-ref ref="logfile"/>
    </root>
</configuration>
