<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2010-2018 Norwegian Agency for Public Management and eGovernment (Difi)
  ~
  ~ Licensed under the EUPL, Version 1.1 or – as soon they
  ~ will be approved by the European Commission - subsequent
  ~ versions of the EUPL (the "Licence");
  ~
  ~ You may not use this work except in compliance with the Licence.
  ~
  ~ You may obtain a copy of the Licence at:
  ~
  ~ https://joinup.ec.europa.eu/community/eupl/og_page/eupl
  ~
  ~ Unless required by applicable law or agreed to in
  ~ writing, software distributed under the Licence is
  ~ distributed on an "AS IS" basis,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
  ~ express or implied.
  ~ See the Licence for the specific language governing
  ~ permissions and limitations under the Licence.
  -->

<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %X{message-id} %p [%c] %m %n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache" level="warn"/>
    <logger name="org.eclipse.jetty" level="warn"/>
    <logger name="network.oxalis.commons.settings" level="warn"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
