body {
    margin-left: 5em;
    margin-right: 5em;
}

#form1 {
    padding: 2em;
    background-color: #9BBE7C;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#picture {
    padding: 2em;
    background-color: #9BBE7C;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: right;
}